.editor-widget.find-widget.visible {
    top: 16px !important;
	right: 85px !important;
	padding:8px;
	height:fit-content!important;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.36)!important;
	border-radius:16px;
	corner-shape: superellipse(1.6);
	background-color: #2121215b!important;
	backdrop-filter:brightness(0.9) blur(16px);
	transition:transform .4s cubic-bezier(0.07, 0.48, 0, 1) !important;
}

.monaco-inputbox>.ibwrapper>textarea.input{
	height:26px!important;
}

.monaco-editor .find-widget .monaco-sash{
	background:unset!important;
}
